#input-div,#input-div2{
    margin:auto;
  width: auto;
  border: 3px solid red;
  border-radius: 10px;
  padding: 100px;
  height: 50%;
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
#body{
    background-color: aqua;

}

#input-text,#input-text2{
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
#input-botton,#input-botton2{
    margin-top: 20px;
    margin-left: 170px;
    padding-left: 5px;
    background-position: center;
    width: 90px;
    border-radius: 10px;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}